.dish {
    margin-top: 30px;
}

.dishname {
    color: #0073bb;
    margin: 3px 0;
    font-size: large
}   

.dishingredients {
    color: gray;
}

.dishprice {
    float: right;
    font-weight: bold;
}

.dishimage {
    height: 110px;
    width: 130px;
}

.bold-writing {
    font-weight: bold;
}

.orderbutton {
    margin-top: 5px;
}